@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#head {
    min-height: 100vh;
    // background-color: #ff0000;

    #content {
        padding-top: 20%;
    }

    #mail-types {
        .card {
            min-height: 280px;
        }
        min-height: 100vh;
    }

    #testimonial {
        .card {
            font-family: 'Dancing Script', cursive;
            min-height: 300px;
            font-size: 1.5rem;
        }
        .carousel {
            a {
                background-color: #000000;
                width: 30px;
                max-height: 60px;
                margin: auto;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #main-image {
        display: none;
    }

    // #middle {
        .image {
            display: none;
        }
    // }

    #testimonial {
        .carousel {
            a {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    // #middle {
        .card-img-top {
            display:none !important;
        }
    // }
}